/* menu
--------------------------------------*/
.menu_item {
	position:relative;
	margin: 0;
	text-align:center;
	cursor:pointer;
}

.menu_item img {
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
}

/* menu save */
.menu_save {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top:  218px;
	left: 180px;
}

/* menu load */
.menu_load {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top:  358px;
	left: 360px;
}

/* menu hide MSG */
.menu_window_close {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top:  218px;
	left: 540px;
}

/* menu skip MSG */
.menu_skip {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top:  358px;
	left: 720px;
}

/* menu title */
.menu_back_title {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top:  218px;
	left: 900px;
}


/* Backlog
--------------------------------------*/
.log_body {
	width: 960px;
	height: 400px;
	margin: 200px 0 0 0;
	padding: 30px 120px 40px 110px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.8em;
	text-align: left;
	color: #CCC;
	border: none;
	background: none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-sizing: border-box;
}

.log_body::-webkit-scrollbar{
	width:16px;
}

.log_body::-webkit-scrollbar-thumb{
	background: #9d93ac;
}

.log_body::-webkit-scrollbar-track{
	background: #23122a;
}


/* Save Load
--------------------------------------*/
.area_save_list {
	display: block;
	width: 960px;
	height: 400px;
	margin: 0;
	margin-top: 200px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.area_save_list::-webkit-scrollbar {
	width: 16px;
}

.area_save_list::-webkit-scrollbar-thumb {
	background: #9d93ac;
}

.area_save_list::-webkit-scrollbar-track {
	background: #23122a;
}


/* Save list
--------------------------------------*/
.save_list {
	display: table;
	table-layout: fixed;
	position: absolute;
	width: 840px;
	height: 124px;
	margin: 0;
	padding: 0 0 0 30px;
	font-size: 16px;
	font-weight: normal;
	background-color: none;
	border: none;
	border-collapse: separate;
	border-spacing: 0 8px;
	box-sizing: border-box;
}

/* save item */
.save_list_item {
	display:table-row;
	width: 840px;
	height: 124px;
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}

/* save saveslot */
.save_list_item:hover > .save_list_item_thumb{
	background: url('image/system/saveslot2.png');
	background-repeat: y-repeat;
	background-position: left top;
	background-color: none;
}

.save_list_item:hover > .save_list_item_area{
	background: url('image/system/saveslot2.png');
	background-repeat: y-repeat;
	background-position: right top;
	background-color: none;
}

.save_list_item:hover {
	background: none;
}

/* save thumbnail */
.save_list_item_thumb {
	display: table-cell;
	width: 220px;
	height: 124px;
	margin: 0;
	padding: 0;
	border: none;
	background: url('image/system/saveslot.png');
	background-repeat: y-repeat;
	background-position: left top;
	box-sizing: border-box;
}

.save_list_item_thumb img {
	width: 160px;
	height: 90px;
	margin: 16px 0 0 20px;
	padding: 0;
	border: none;
	border-radius: 0px;
}

/* save textarea */
.save_list_item_area {
	display: table-cell;
	width: 620px;
	height: 124px;
	padding: 20px 30px 0 0;
	border-radius: none;
	border: none;
	background: url('image/system/saveslot.png');
	background-repeat: y-repeat;
	background-position: right top;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
}

/* save savedate */
.save_list_item_date {
	display: block;
	margin: 0;
	padding: 0 0 0 20px;
	height: 20px;
	line-height: 1;
	color: #E35B75;
	font-size: 18px;
	font-weight: bold;
	box-sizing: border-box;
}

/* save text */
.save_list_item_text {
	display: block;
	height: 65px;
	margin: 0;
	padding: 10px 30px 20px 20px;
	line-height: 1.3;
	color: #CCC;
	font-size: 16px;
	overflow: hidden;
	box-sizing: border-box;
}

.layer_event_click{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}

.layer{
	background-size: 100% 100%;
}

.button_menu{
	position: absolute;
	z-index: 99999;
	cursor: pointer;
}

/*glink
------------------------------*/
/* normal */
.ts06 {
	padding: .6em 2em .55em;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #321B3A;
	color: #CCC;
	box-shadow: 0 5px 0 #837591;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	transition: all  0.25s ease;
}

/* hover */
.ts06:hover {
	background: #321B3A;
	color: #DBF640;
	box-shadow: 15px 5px 0 #DBF640;
}

/* active */
.ts06:active {
	background: #321B3A;
	color: #E35B75;
	box-shadow: 15px 5px 0 #E35B75;
	-webkit-transform: scale(.97);
	-moz-transform: scale(.97);
	transform: scale(.97);
}
