<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->
<!--    <div class="snow"></div>-->



    <div class="row">
        <div class="drag-zone drag-zone-lp" style="z-index: 0">
        </div>
        <!-- Right panel start -->
        <div class="col vne_right_panel">
            <div class="text-start">
                <div class="vne_comix_style_box">
                    <h1 class="vne_logo animated animate__fadeInLeft vne_comix_style_logo" id="dark_theme_logo" title="TyranoBuilder Next">TyranoBuilder</h1>
                </div>
                <nav class="nav justify-content-center">
                    <div class="vne_btn vne-btn-create-project button_back  animated animate__fadeInLeft">
                        {{:_s("Назад")}}
                    </div>

                    <div class="help-container position-absolute top-50 start-0 translate-middle">
                        <ul>
                            <li>
							<span class="dark_theme_help-text  animated animate__fadeInLeft">
							{{:_s("Помощь")}}
							</span>
                            </li>
                            <li class="vne_btn animated animate__fadeInLeft">
                                <span onclick="app.gui.shell('url','{{:_s("https://discord.com/invite/9kSpyrgUYZ")}}')">
                                {{:_s("Discord Сервер")}}
                                </span>
                            </li>
                            <li class="vne_btn animated animate__fadeInLeft">
                                <span onclick="app.gui.shell('url','{{:_s("https://www.vneffector.site")}}')">
                                {{:_s("Официальный сайт")}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="support position-absolute bottom-0">
                <div class="vne-don-shadow"></div>
                <div class="vne_help_project_area" >
                    <p class="animated animate__fadeInUp">{{:_s("Помоги в развитии проекта!")}}</p>
                    <div class="btn-boosty animated animate__fadeInUp" onclick="app.gui.shell('url','{{:_s("https://boosty.to/igd")}}')">
                        BOOSTY
                    </div>

                    <ul class="circles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>

                </div >

                <div class="no-drag">
                    <label class="switch switch_bg btn-color-mode-switch animated animate__fadeInUp">
                        <input type="checkbox" name="color_mode" class="btn-d-n" id="change_color_btn">
                        <label for="change_color_btn" data-on="Light" data-off="Dark" class="btn-color-mode-switch-inner"></label>
                    </label>
                </div>

            </div>
        </div>
<!-- Right Panel End -->

<!-- Project Container Start -->
<div class="col dark_theme_project_container">
    <p class="dark_theme_project_title animated animate__fadeInRight">
        {{:_s("Создание проекта")}}
    </p>
    <div class="vne_lp_separator"></div>
    <!-- Project list -->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col mx-auto">
                <p class="vne-name-project-title">{{:_s("Название проект")}}</p>
                <input type="text" class="text_project_name vne_form_name_project" value="{{:name}}"
                       placeholder=''>

                <p class="vne-type-project-title">{{:_s("Тип проекта")}}</p>
                <div class="vne-type-project-container">

                    <input type="radio" data-type="adv" class="btn-check type_select adv_game" name="options" id="option1"
                           autocomplete="off" checked>
                    <label class="btn btn-secondary datk_theme_type_project_select_btn" for="option1">{{:_s("Визуальная новелла")}}</label>

                    <input type="radio" data-type="novel" class="btn-check type_select novel_game" name="options" id="option2"
                           autocomplete="off">
                    <label class="btn btn-secondary datk_theme_type_project_select_btn" for="option2">{{:_s("Книжная история")}}</label>
                </div>

                <p class="vne-size-project-title">{{:_s("Разрешение проекта")}}</p>

                <div class="vne_size_project_container">
                        <select class="form-select vne_select_size_game" name="select_size_game">
                            <option disabled>{{:_s("Выберите разрешение экрана")}}</option>
                            <option value="1">1280×720</option>
                            <option value="2">1920×1080</option>
                            <option value="3">2560×1440</option>
                            <option value="0">{{:_s("Свое разрешение экрана")}}</option>
                            <option disabled>{{:_s("Мобильное разрешение")}}</option>
                            <option value="4">1080×1920</option>
                        </select>
                    </div>

                    <div class="other_size">
                        <div class="form-inline">
                            <input type="text" class="text_size_width vne-other-size vne-other-size-width" id="horizontal">
                            <input type="text" class="text_size_height vne-other-size vne-other-size-height" id="vertical">
                        </div>
                    </div>
                </div>

                <p class="vne-func-project-title">{{:_s("Выберите функции, которые нужны вам в игре")}}</p>

                <div class="vne-select-func">
                    <input type="checkbox" class="btn-check" id="check_title">
                    <label class="btn btn-secondary datk_theme_type_project_cr_sn_btn"
                           for="check_title">{{:_s("Без стартового меню")}}</label>
                    <input type="checkbox" class="btn-check" id="check_menu">
                    <label class="btn btn-secondary datk_theme_type_project_cr_sn_btn"
                           for="check_menu">{{:_s("Без кнопок меню")}}</label>
                </div>

                <div class="position-absolute bottom-0 end-0">
                    <span class="vne-create-project-button button_next">{{:_s("Создать проект")}}</span>
                </div>

            </div>
        </div>
        <!-- Project Container End -->
    </div>
</div>
<!-- Script -->
<script src="js/vne_theme/theme.core.js"></script>
<script src="js/vne_theme/tooltip.js"></script>
