


<div item-type="sort" class="tb-main-cpn script component-box">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-script" title="Общие"></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{:_s("Общие")}}</div>
                  <div class="cpn-desc">{{>name}}</div>
                  
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-chevron-down component_slide" title='{{:_s("ひらく")}}'></span>
                  <span class="tb-i-time component_remove" title='{{:_s("削除")}}'></span>

                </div>
              </div>
              <div class="cpn-body">
                ＠<input style="width:80%" type="text" value="{{>origin}}">
              </div>
              
            </div>
 </div>
