
<div item-type="sort" class="tb-main-cpn script component-box">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-script" title="Скрипт"></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{:_s("Скрипт")}}</div>
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-chevron-down component_slide" title='{{:_s("Развернуть")}}'></span>
                  <span class="tb-i-time component_remove" title='{{:_s("Удалить")}}'></span>
                  
                </div>
              </div>
              <div class="cpn-body">
                <textarea wrap="off" class="form-control">{{:component.getText()}}</textarea>
                <button class="btn btn-default btn-sm button_eval">{{:_s("Запустить")}}</button>
              </div>
              
            </div>
 </div>
