<div item-type="sort" class="tb-main-cpn scenario component-box" data-cpn="label">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-label" title='{{:_s("Метка")}}'></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{:_s("Метка")}}</div>
                  <div class="cpn-desc">{{:name}}</div>
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-time component_remove" title='{{:_s("Удалить")}}'></span>
                </div>
              </div>
            </div>


</div>
