
<div item-type="sort" class="tb-main-cpn component-box {{:category}}">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-{{:icon}}" title="{{>name}}"></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{>name}}</div>
                  <div class="cpn-desc">{{>header}}</div>
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-time component_remove" title='{{:_s("Удалить")}}'></span>
                </div>
              </div>
            </div>
            
            <div class="cpn-body widget-body">
            	<p class="alert alert-info">
				[{{:origin}}]
				</p>
            </div>
            
</div>
