
 <div item-type="sort" class="tb-main-cpn media component-box" data-cpn="bgm-play">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-{{:icon}}" title="{{>name}}"></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{>name}}</div>
                  <div class="cpn-desc">{{:sound_url}}</div>
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-chevron-down component_slide" title='{{:_s("Развернуть")}}'></span>
                  <span class="tb-i-time component_remove" title='{{:_s("Удалить")}}'></span>
                  
                </div>
              </div>
              <div class="cpn-body">
              	<audio src="{{:app.getProjectPath()}}{{:base_sound_url}}{{:sound_url}}" controls></audio>
              </div>
            </div>
</div>
