

<div item-type="sort" class="tb-main-cpn scenario component-box">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-text" title='{{:_s("Текст (old)")}}'></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{:_s("テキスト(old)")}}</div>
                  <div class="cpn-desc">{{:component.getTitle()}}</div>
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-chevron-down component_slide" title='{{:_s("Развернуть")}}'></span>
                  <span class="tb-i-time component_remove" title='{{:_s("Удалить")}}'></span>
                </div>
              </div>
              <div class="cpn-body">
                <textarea wrap="on" style="height:80px" class="form-control">{{:component.getText()}}</textarea>
              </div>
            </div>
</div>