<div item-type="sort" class="tb-main-cpn script component-box">
            <div class="cpn-ico-block">
              <div class="cpn-ico"><span class="tb-i-t-script" title=""></span></div>
            </div>
            <div class="cpn-block">
              <div class="cpn-header-block">
                <div class="cpn-header-title">
                  <div class="cpn-title">{{:_s("ティラノスクリプト")}}</div>
                </div>
                <div class="cpn-header-nav">
                  <span class="tb-i-chevron-down component_slide" title='{{:_s("ひらく")}}'></span>
                  <span class="tb-i-time component_remove" title='{{:_s("削除")}}'></span>
                </div>
              </div>
              <div class="cpn-body">
                <textarea wrap="off" class="form-control">{{:component.getText()}}</textarea>
              </div>
            </div>
</div>

