<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->
<!--	<div class="snow"></div>-->




	<div class="row">
		<div class="drag-zone drag-zone-lp" style="z-index: 0">
		</div>
		<!-- Right panel start -->
	  <div class="col vne_right_panel">
		<div class="text-start">
			<div class="vne_comix_style_box">
				<h1 class="vne_logo animated animate__fadeInLeft vne_comix_style_logo" id="dark_theme_logo" title="TyranoBuilder Next">TyranoBuilder</h1>
			</div>
			<nav class="nav justify-content-center">
				<div class="vne_btn vne-btn-create-project button_create_new_project  animated animate__fadeInLeft">
						{{:_s("Новый проект")}}
				</div>

				<div class="help-container position-absolute top-50 start-0 translate-middle">
					<ul>
						<li>
							<span class="dark_theme_help-text  animated animate__fadeInLeft">
							{{:_s("Помощь")}}
							</span>
						</li>
						<li class="vne_btn animated animate__fadeInLeft">
							<span onclick="app.gui.shell('url','{{:_s("https://discord.com/invite/9kSpyrgUYZ")}}')">
							{{:_s("Discord Сервер")}}
							</span>
						</li>
						<li class="vne_btn animated animate__fadeInLeft">
							<span onclick="app.gui.shell('url','{{:_s("https://www.vneffector.site")}}')">
							{{:_s("Официальный сайт")}}
							</span>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="support position-absolute bottom-0">
			<div class="vne-don-shadow"></div>
			<div class="vne_help_project_area" >
				<p class="animated animate__fadeInUp">{{:_s("Помоги в развитии проекта!")}}</p>
				<div class="btn-boosty animated animate__fadeInUp" onclick="app.gui.shell('url','{{:_s("https://boosty.to/igd")}}')">
					BOOSTY
				</div>

				<ul class="circles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>

			</div >

		  <div class="no-drag">
			  <label class="switch switch_bg btn-color-mode-switch animated animate__fadeInUp">
				  <input type="checkbox" name="color_mode" class="btn-d-n" id="change_color_btn">
				  <label for="change_color_btn" data-on="Light" data-off="Dark" class="btn-color-mode-switch-inner"></label>
			  </label>
		  </div>

		</div>
	  </div>
	  <!-- Right Panel End -->

	  <!-- Project Container Start -->
	  	<div class="col dark_theme_project_container">
			<span class="newsUpdate" onclick="app.gui.shell('url','{{:_s("https://vne.idglab.pro/releases/15-tyranobuilder-next.html")}}')">
				<i class="fa-duotone fa-newspaper"></i>
			</span>


			<div class="select_lang_interfaces">
				<select class="form-select vne_select_lang_interfaces" id="select_lang_interfaces">
					<option disabled>{{:_s("Язык Интерфейса")}}</option>
					<option value="ru" selected>Русский</option>
					<option value="en">English</option>
					<option value="af">Afrikaans</option>
					<option value="ar">Arabic</option>
					<option value="be">Belarusian</option>
					<option value="de">German</option>
					<option value="es">Spanish</option>
					<option value="fr">French</option>
					<option value="it">Italian</option>
					<option value="ja">Japanese</option>
					<option value="ko">Korean</option>
					<option value="tr">Turkish</option>
					<option value="zh-CN">Chinese (Simplified)</option>
				</select>
			</div>

			<p class="dark_theme_project_title animated animate__fadeInRight">
				{{:_s("Список проектов")}}
			</p>
			<div class="vne_lp_separator"></div>
			<!-- Project list -->
			<div class="container-fluid text-center">
				<div class="row">
				  <div class="col mx-auto">
					<!-- Project no item -->
					<div class="dark_theme_project_no_item animated animate__fadeInRight">
						{{if projects.length == 0}}
							<ul>
								<li>{{:_s("Добро пожаловать в VN Effector!")}} Mode</li>
								<li><b>{{:_s("К сожалению, проектов не обнаружено.")}}</b></li>
								<li></li>
							</ul>
						{{/if}}
					</div>
					<div class="container-fluid text-start">
						<div class="row">
						  <div class="col mx-auto">
							<div class="dark_theme_project_list animated animate__fadeInRight">
								<div class="dark_theme_project_item_container">
									{{for projects}}
									<ul class="vne_project_item" >
										<li>
											<p class="button_edit vne_project_title" data-item="{{:item}}">
												{{:item}}
											</p>
										</li>
										<li class="hover-rem_dir">
											<span class="button_remove_dir" data-item="{{:item}}" id="remove_dir">
												<i class="fa-solid fa-folder-xmark dark_theme_project_item_icon_delete_project" id="t_delete_project"></i>
											</span>
										</li>
										<li class="hover-open_dir">
											<span class="button_open_dir" data-item="{{:item}}" id="open_dir" >
												<i class="fa-solid fa-folder dark_theme_project_item_icon_open_folder" id="t_open_folder"></i>
											</span>
										</li>
									</ul>
								{{/for}}
								</div>
							</div>
							  <div class="vne-shadow-bottom"></div>
						  </div>
					  </div>
				  </div>
			  </div>
		</div>
		<!-- Project Container End -->
	</div>
</div>
<!-- Script -->
	<script src="js/vne_theme/theme.core.js"></script>
	<script src="js/vne_theme/tooltip.js"></script>
</div>