<div id="read" class="tab-pane active">
	<div class="form-group">
		<label class="vne-control-label vne-md-content-margin">{{:_s("Настройки громкости")}}</label>
		<div class="form-group vne-md-content">
				<div class="form-inline">
					{{:_s("Громкость музыки")}}<br />
					<span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
						<input class="text_bgm_vol spinner-10 form-control" type="text" value="100" aria-valuemin="0" aria-valuenow="20" autocomplete="off" role="spinbutton">
					</span>
					%
					<br />
					{{:_s("Громкость звуковых эффектов")}}<br />
					<span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
						<input class="text_se_vol spinner-10" type="text" value="100" aria-valuemin="0" aria-valuenow="278" autocomplete="off" role="spinbutton">
					</span>
					%
				</div>
		</div>
	</div>
	<div class="button_sbm_block">
<input class="button_sbm btn btn-default darkTheme-md-content-btn" type="button" style="margin-right: 4px !important;" value='{{:_s("Применить")}}'>
	</div>
</div>