<div id="cursor" class="tab-pane active">

	<div class="form-group">
		<label class="vne-control-label vne-md-content-margin">
			{{:_s("Ваше изображение курсора")}}
		</label>
		<div class="checkbox form-check form-switch vne-md-content">
			<label>
				<input class="check_cursor checkbox form-check-input" type="checkbox" value="">
				{{:_s("Использовать пользовательский курсор мыши")}}</label>
		</div>

		<div id="area_cursor_file">
			<br>
			<div class="vne-md-content">
				<input class="button_image_select btn-default" type="button" value='{{:_s("Выбрать")}}'>
				<div class="selected_image"></div>
				<labe class="vne-control-label-help-text vne-md-content-margin">
					{{:_s("32 × 32 пикселя. gif,jpg, или png.")}}
				</labe>
			</div>
		</div>

		<div class="button_sbm_block">
			<input class="button_sbm btn btn-default darkTheme-md-content-btn" type="button" style="margin-right: 4px !important;" value='{{:_s("Применить")}}'>
		</div>

	</div>
</div>	
<!-- /#display -->

