<div id="read" class="tab-pane active">
	<div class="form-group">
		<label for="text_setting_title" class="vne-control-label">{{:_s("Live2D")}}</label>

		
		<div class="form-group">
                  <label for="select_centering" class="vne-control-label">{{:_s("Version")}}</label><br>
                  <select class="input_setting" id="live2d_version" data-key="ScreenCentering">
                    <option value="4">{{:_s("4.x")}}</option>
                    <option value="3">{{:_s("3.x")}}</option>
                    <option value="2.1">{{:_s("2.1")}}</option>
                    <option value="2.0">{{:_s("2.0")}}</option>
                  </select>
        </div>
		
	</div>

	<div class="button_sbm_block">
		<input class="button_sbm btn btn-default" type="button" style="margin-right: 4px !important;" value='{{:_s("Применить")}}'>
	</div>

</div>