<!-- Nav tabs -->
<ul class="nav nav-tabs vne-md-content-margin" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <span class="nav-link active vne-cs-tab-item" data-bs-toggle="tab"
              data-bs-target="#page"
              role="tab" aria-controls="home" aria-selected="true">{{:_s("Галереи")}}</span>
    </li>
    <li class="nav-item" role="presentation">
        <span class="nav-link vne-cs-tab-item" data-bs-toggle="tab"
              data-bs-target="#replay"
              role="tab" aria-controls="profile" aria-selected="false">{{:_s("Управление повторами")}}</span>
    </li>
    <li class="nav-item" role="presentation">
        <span class="nav-link vne-cs-tab-item" data-bs-toggle="tab"
              data-bs-target="#etc"
              role="tab" aria-controls="profile" aria-selected="false">{{:_s("Другое")}}</span>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="page" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div style="float:left;">

            <div class="tab-change area_key" style="padding:4px">
                <label class="vne-control-label vne-md-content-margin">{{:_s("Галереи")}}</label>
                <div class="vne-md-content">
                    <input class="text_page" type="text" placeholder='{{:_s("Введите имя")}}' style="width:130px;"/>
                    <input class="button_add_page vne-set-area-btn" type="button" style="top: 0px !important;" value='{{:_s("Создать")}}'/>
                    <br>
                    <select class="select_page form-control vne-cont-bg" size="8"
                            style="width:300px;height:200px !important;"></select>
                    <br>
                    <div class="tab-change area_key" style="padding:4px">
                        <input class="button_remove_page vne-set-area-btn" type="button" value='{{:_s("Удалить")}}'/>
                    </div>
                    <br>
                    <div style="margin-top:50px;padding:4px">
                        <input class="button_edit_page vne-set-area-btn" type="button" value='{{:_s("Открыть в редакторе")}}'/>
                    </div>

                    <div style="margin-top:20px;padding:4px">
                        <input class="button_edit_scenario_copy vne-set-area-btn" type="button" value='{{:_s("Дублировать")}}'/>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="tab-pane" id="replay" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div style="float:left;">

            <div class="tab-change area_key" style="padding:4px">
                <label class="vne-control-label vne-md-content-margin">{{:_s("Повтор")}}</label>
                <div class="vne-md-content">
                    <input class="text_replay" type="text" placeholder='{{:_s("Введите имя")}}'/>
                    <input class="button_add_replay vne-set-area-btn" type="button" value='{{:_s("Назначить")}}'/>
                    <select class="select_replay form-control vne-cont-bg" size="8"
                            style="width:300px;height:200px !important;padding: 4px !important;"></select>
                    <br>
                    <input class="button_remove_replay vne-set-area-btn" type="button" value='{{:_s("Удалить")}}'/>
                </div>
            </div>
        </div>

        <div style="margin-left:10px;float:left;width:200px">
            <div class="tab-change area_key" style="margin-top:20px;padding:4px">
                <label class="vne-control-label vne-md-content-margin">
                    {{:_s("Выберите точку начала повтора")}}
                </label>
                <div class="vne-md-content" style="width: 342px; height: 298px;">
                    <div style="font-size: 12px;">
                        {{:_s("Расположение (Сцена)")}}：<select class="select_storage form-control vne-cont-bg" type="text"/>
                    </div>
                    <div style="font-size: 12px;">
                        {{:_s("Метка")}}：<select class="select_label form-control vne-cont-bg vne-select" type="text"/>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both"></div>
    </div>
    <div class="tab-pane" id="etc" role="tabpanel" aria-labelledby="messages-tab" tabindex="0">
        <label class="vne-control-label vne-md-content-margin">
            {{:_s("Установить изображение для заблокированных эскизов") }}
        </label>
        <div class="vne-md-content">
            <span class="button_noimage_file btn-default" style="position: absolute; width: 150px">{{:_s("Выбрать") }}</span>
            <br>
            <br>
            <div>
                <img class="preview_noimage" src="" style="max-width:150px;max-height:150px;border:none; border-radius: 5px; margin-top: 5px !important;"/>
            </div>
        </div>

    </div>
</div>


<div class="button_sbm_block">
    <input class="button_sbm btn btn-default darkTheme-md-content-btn" type="button" style="margin-right: 4px !important;" style="margin-right: 4px !important;" value='{{:_s("Применить")}}'>
</div>

