<div id="home" class="tab-pane active">
    <div class="form-group">
        <label for="text_setting_title" class="vne-control-label vne-md-content-margin">{{:_s("Название игры")}}</label>
        <div class="vne-md-content">
            <input class="input_setting form-control" data-key="System.title" id="text_setting_title" type="text"
                   value="">
        </div>
    </div>

    <div class="button_sbm_block">
        <input class="button_sbm btn btn-default darkTheme-md-content-btn" type="button"
               style="margin-right: 4px !important;" value='{{:_s("Применить")}}'>
    </div>
</div>
