<!-- Nav tabs -->
<ul class="nav nav-tabs darkTheme-md-content-margin" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <span class="nav-link active darkTheme-cs-tab-item" id="home-tab" data-bs-toggle="tab"
              data-bs-target="#edit"
              role="tab" aria-controls="home" aria-selected="true">{{:_s("編集")}}</span>
    </li>
    <li class="nav-item" role="presentation">
        <span class="nav-link darkTheme-cs-tab-item" id="profile-tab" data-bs-toggle="tab" data-bs-target="#text"
              role="tab" aria-controls="profile" aria-selected="false">{{:_s("テキスト")}}</span>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="edit" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="form-group">
            <label class="control-label darkTheme-md-content-margin">{{:_s("タブ切替")}}</label>
            <div class="darkTheme-md-content checkbox form-check form-switch">
                <input class="check_tab_mode checkbox form-check-input" type="checkbox" value="">
                {{:_s("シナリオのタブ切替を有効にする")}}
            </div>
        </div>

        <div class="form-group">
            <label class="control-label darkTheme-md-content-margin">{{:_s("左エリアのコンポーネント動作")}}</label>
            <div class="darkTheme-md-content">
                <select class="input_setting form-control select_component_open">
                    <option value="click">{{:_s("クリックで開閉する")}}</option>
                    <option value="mouseover">{{:_s("マウスオーバーで開閉する")}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label darkTheme-md-content-margin">{{:_s("ヘルプ")}}</label>
            <div class="darkTheme-md-content checkbox form-check form-switch">
                <input class="check_show_help checkbox form-check-input" type="checkbox" value="">
                {{:_s("画面の下にヘルプを表示する")}}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="text" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <label class="control-label darkTheme-md-content-margin">{{:_s("テキストエリアの入力設定")}}</label>

        <div class="form-group">
            <label class="control-label darkTheme-md-content-margin">{{:_s("フォントサイズ")}}</label>
            <div class="darkTheme-md-content">
                <input style="width:200px" class="input_setting form-control spinner-1 text_cmp_font_size" type="text"
                       value="12">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label darkTheme-md-content-margin">{{:_s("テキストエリアの高さ")}}</label>
            <br/>
            <div class="darkTheme-md-content">
                <input style="width:200px" class="input_setting form-control spinner-10 text_cmp_height" type="text"
                       value="80">px
            </div>
        </div>
        <span class="control-label-help-text darkTheme-md-content-margin">{{:_s("注意：表示中のテキストは再読込した後、有効になります")}}</span>
    </div>
</div>


<div class="button_sbm_block">
    <input class="button_sbm btn btn-default darkTheme-md-content-btn" type="button" style="margin-right: 4px !important;" value='{{:_s("Применить")}}'>
</div>
