<div class="page-content">
    <div id="make_scenario" class="row-fluid">
        <label class="vne-control-label vne-md-content-margin">
            {{:_s("Дополнительные компоненты")}}
        </label>

        <div class="vne-md-content">
            <div class="checkbox form-check form-switch">
                <input type="checkbox" class="check_plugin check_live2d checkbox form-check-input"
                       data-plugin="live2d"/> {{:_s("Компонент Live2D")}}<br/>
            </div>
        </div>
        <label class="vne-control-label-help-text vne-md-content-margin">{{:_s("Включить поддержку Live2D в игре")}}</label>
    </div>
</div>

			
	