<div class="modal-body">
    <label for="input-add-scenario" class="vne-control-label vne-md-content-margin">{{:_s("Новая сцена")}}</label>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-5 vne-md-content" style="margin-bottom: 5px !important;">
                <input type="text" name="text_scenario_name" id="input-add-scenario"
                       class="form-control text_scenario_name" placeholder='{{:_s("Введите новое имя для сцены")}}'>
                <br>
                <br>
                <button type="button" class="btn-default button_next">{{:_s("Принять")}}</button>
                <button type="button" class="btn-default button_back">{{:_s("Отмена")}}</button>
            </div>
        </div>
    </div>
</div>
	