<div class="row character-control-block">
    <div class="col-sm-4">
        <label class="vne-control-label vne-md-content-margin">{{:_s("Список шрифтов")}}</label>
        <div class="vne-md-content" style="margin-bottom: 5px !important;">
            <input class="button_font_add btn-default" type="button" value='{{:_s("Добавить шрифт")}}'>
            <br>
            <br>
            <select class="select_font select_chara form-control" id="form-field-select-2" multiple="multiple"
                    style="height: 150px !important;padding: 5px !important;">
            </select>
            <input class="button_font_remove btn-default" type="button" value='{{:_s("Удалить шрифт")}}'>
        </div>
    </div>
    <div class="col-sm-6">
        <label class="vne-control-label vne-md-content-margin">{{:_s("Предпросмотр шрифта")}}</label>
        <label class="vne-control-label-help-text vne-md-content-margin" id="preview_font_area" style="position: relative;top: -5px"></label>
    </div>
</div>
