<div class="modal-body widget-body">
    <div id="widget-game-setting" class="row">
        <div class="col-sm-3">
            <div class="tabbable">
                <ul class="list-unstyled nav-setting">
                    <li data-view-id="title" data-logic-id="GameSettingCommon" class="active">{{:_s("Название игры")}}</li>
                    <li data-view-id="display" data-logic-id="GameSettingCommon">{{:_s("Отображение")}}</li>
                    <li data-view-id="text" data-logic-id="GameSettingCommon">{{:_s("Стиль шрифта")}}</li>
                    <li data-view-id="chara" data-logic-id="GameSettingChara">{{:_s("Персонажи")}}</li>
                    <li data-view-id="window_message" data-logic-id="GameSettingMessageWindow">{{:_s("Окно сообщения")}}
                    </li>
                    <li data-view-id="menu" data-logic-id="GameSettingMenu">{{:_s("Дизайн")}}</li>
                    <li data-view-id="cursor" data-logic-id="GameSettingCursor">{{:_s("Курсор")}}</li>
                    <li data-view-id="keyconfig" data-logic-id="GameSettingKeyconfig">{{:_s("Клавиатура и мышь")}}</li>
                    <li data-view-id="read" data-logic-id="GameSettingRead">{{:_s("История")}}</li>
                    <li data-view-id="audio" data-logic-id="GameSettingAudio">{{:_s("Аудио")}}</li>
                    <li data-view-id="backlog" data-logic-id="GameSettingCommon">{{:_s("История")}}</li>
                    <li data-view-id="theme" data-logic-id="GameSettingTheme">{{:_s("Темы")}}</li>
                    <li data-view-id="cgmode" data-logic-id="GameSettingCgmode">{{:_s("Галерея изображений")}}</li>
                    <li data-view-id="replaymode" data-logic-id="GameSettingReplaymode">{{:_s("Галерея повторов")}}</li>
                    <li data-view-id="vneffector" data-logic-id="vnEffectorGameSettings">{{:_s("VN Effector")}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 area_setting">
        </div>
    </div>
</div>

	