<div class="modal-body">
    <label for="input-add-scenario" class="vne-control-label vne-md-content-margin">{{:_s("Создание сцены")}}</label>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4 vne-md-content">
                <input type="text" name="text_scenario_name" id="input-add-scenario"
                       class="form-control text_scenario_name" placeholder='{{:_s("Введите имя сцены")}}'>
                <br>
                <button type="button" class="btn-default button_back">{{:_s("Отмена")}}</button>
                <button type="button" class="btn-default button_next">{{:_s("Создать")}}</button>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 6px !important;"></div>
</div>
        

			
	